.venv
.env
*.wav
*.mp3
*.mp4
*.png
*.jpg
*.csv
# *.json
*.txt
*.srt
__pycache__
experiments/P2-exp/dense_fine_tuning/videos
experiments/P2-exp/task_fine_tuning/full_video
experiments/P2-exp/task_fine_tuning/cropped_vid
experiments/P2-exp/task_fine_tuning/sqz_vid
experiments/P2-exp/testing/videos
experiments/p3_exp/pre_processing/vid_frames/*.png
experiments/p3_exp/pre_processing/downloads/*
experiments/p3_exp/pipeline/chromadb
experiments/p3_exp/pre_processing/smart_cut_out/*
.vscode
model
draft
chromadb_v2
second_5_video
