.venv
.env
__pycache__
/pretrained/*
/media/*
data/*
data_collection
dense_fine_tuning/videos
task_fine_tuning/full_video
task_fine_tuning/cropped_vid
task_fine_tuning/sqz_vid
testing/videos
SmolVLM2-256M-Video-Instruct-dense-caption_full.zip
src/pre_processing/vid_frames/*.png
src/pre_processing/downloads/*
!src/pre_processing/downloads/*.csv
src/pipeline/chromadb
src/pre_processing/smart_cut_out/*
*.wav
*.mp3
*.mp4
*.png
*.jpg